<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.zfs.httpdemo"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".MultiDownloadActivity"
            android:configChanges="keyboardHidden|orientation|navigation|screenSize|keyboard"/>
        <activity
            android:name=".SingleDownloadActivity"
            android:configChanges="keyboardHidden|orientation|navigation|screenSize|keyboard"/>
        <activity
            android:name=".GeneralRequestActivity"
            android:configChanges="keyboardHidden|orientation|navigation|screenSize|keyboard"/>
        <activity
            android:name=".MultiUploadActivity"
            android:configChanges="keyboardHidden|orientation|navigation|screenSize|keyboard"/>
        <activity
            android:name=".SingleUploadActivity"
            android:configChanges="keyboardHidden|orientation|navigation|screenSize|keyboard"/>
    </application>

</manifest>